<!DOCTYPE html>
<html>
    <head>
        <title>The Solar System</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/">Home</a> <br>
            <a href="/mercury">Mercury</a> <br>
            <a href="/venus">Venus</a> <br>
            <a href="/earth">Earth</a> <br>
            <a href="/jupiter">Jupiter</a> <br>
        </nav>
        <div class="jumbotron">